.filter-container{
    display:flex;
    flex-direction: column;
    padding:20px;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

button{
    padding:10px;
    margin:5px;
    background-color:rgb(104, 88, 88);
    color:white;
    border:none;
    cursor:pointer
}