/* Navbar.css */

.dashboard-navbar {
    background-color: #333;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-links a:hover {
    background-color: #555;
  }
  
  .nav-links a.active {
    background-color: #555;
  }
  